body {

background: #0a0a0a;
color: #e5e5e5;

font-family: "Inter", sans-serif;

line-height: 1.7;

}


.container {

max-width: 720px;
margin: auto;
padding: 60px 20px;

}


h1 {

font-size: 40px;
margin-bottom: 8px;

}


.subtitle {

color: #9ca3af;
margin-bottom: 25px;

}


nav {

margin-bottom: 30px;

}


nav a {

margin-right: 16px;
color: #7dd3fc;
font-size: 18px;
text-decoration: none;

}


nav a:hover {

color: white;

}


.profile {

width: 160px;
border-radius: 100px;
margin: 25px 0;

}


h2 {

margin-top: 40px;
margin-bottom: 12px;

border-bottom: 1px solid #333;
padding-bottom: 4px;

font-size: 20px;

}


.experience {
  margin-top: 25px;
}

.job {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 28px;
}

.logo {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.job-content {
  max-width: 600px;
}

.job-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.job-desc {
  color: #9ca3af;
  font-size: 14px;
}


ul {

padding-left: 20px;

}


li {

margin-bottom: 8px;

}
